Week 1/F115W_JWST_NIRCAM.txt
Week 1/F150W_JWST_NIRCAM.txt
Week 1/F200W_JWST_NIRCAM.txt
Week 1/F277W_JWST_NIRCAM.txt
Week 1/F356W_JWST_NIRCAM.txt
Week 1/F444W_JWST_NIRCAM.txt
Week 1/F0770W_JWST_MIRI.txt
Week 1/F1000W_JWST_MIRI.txt
Week 1/F1280W_JWST_MIRI.txt
Week 1/F1500W_JWST_MIRI.txt
Week 1/F1800W_JWST_MIRI.txt
Week 1/F2100W_JWST_MIRI.txt
Week 1/SFR-trials/linearlyDecreasing.txt
Week 1/SFR-trials/sfr0.txt
Week 1/SFR-trials/sfr3.txt
Week 1/SFR-trials/sfrConstant.txt
Week 1/SFR-trials/sfrSingleburst.txt
Week 1/SFR-trials/sfrSSP.txt
Week 1/ASCII/bc2003_lr_BaSeL_m22_chab_ssp.1
Week 1/ASCII/bc2003_lr_BaSeL_m22_chab_ssp.120
Week 1/ASCII/bc2003_lr_BaSeL_m22_chab_ssp.130
Week 1/ASCII/bc2003_lr_BaSeL_m22_chab_ssp.192
Week 1/ASCII/bc2003_lr_BaSeL_m82_chab_ssp.ised_ASCII
Week 1/ASCII/bc2003_lr_BaSeL_m82_chab_ssp.txt
Week 1/ASCII/m22
Week 1/ASCII/m32
Week 1/ASCII/m42
Week 1/ASCII/m52
Week 1/ASCII/m62
Week 1/ASCII/m72
Week 1/ASCII/m82
Week 1/SFR-trials/singleBurst2.txt
Week 1/SFR-trials/singleBurst1000.txt
Week 1/SFR-trials/sspSingleburst100.txt
Week 1/SFR-trials/zmag2.f
Week 1/ASCII/model1-SED.20
Week 1/ASCII/model2-SED.20
Week 1/ASCII/model3-SED.20
Week 1/ASCII/m22-2
Week 1/ASCII/dust0-0001.1
Week 1/ASCII/dust0-1.1
Week 1/ASCII/dust0-0001.multi_mag_AB
Week 1/ASCII/dust0-1.multi_mag_AB
Week 1/ASCII/dust0-2.1
Week 1/ASCII/dust0-2.multi_mag_AB
Week 1/ASCII/dust0-05.1
Week 1/ASCII/dust0-5.1
Week 1/ASCII/dust0-05.multi_mag_AB
Week 1/ASCII/dust0-5.multi_mag_AB
Week 1/ASCII/dust0-9.1
Week 1/ASCII/dust0-9.multi_mag_AB
Week 1/ASCII/dust0-15.1
Week 1/ASCII/dust0-15.multi_mag_AB
Week 1/ASCII/sfrh-example.ascii_ised
Week 1/ASCII/sfrh-example.ascii_ised.prn
Week 1/ASCII/sfrh-example.prn
Week 1/ASCII/user-defined-z5.6
Week 1/ASCII/user-defined2.6
Week 1/SFR-trials/user-defined-z5.4color
Week 1/SFR-trials/user-defined2.4color
Week 1/Files_SFRH_TNG50/Files_SFRH_TNG50/*.txt
Week 1/Files_SFRH_TNG50.zip
