Week 1/F115W_JWST_NIRCAM.txt
Week 1/F150W_JWST_NIRCAM.txt
Week 1/F200W_JWST_NIRCAM.txt
Week 1/F277W_JWST_NIRCAM.txt
Week 1/F356W_JWST_NIRCAM.txt
Week 1/F444W_JWST_NIRCAM.txt
Week 1/F0770W_JWST_MIRI.txt
Week 1/F1000W_JWST_MIRI.txt
Week 1/F1280W_JWST_MIRI.txt
Week 1/F1500W_JWST_MIRI.txt
Week 1/F1800W_JWST_MIRI.txt
Week 1/F2100W_JWST_MIRI.txt
Week 1/SFR-trials/linearlyDecreasing.txt
Week 1/SFR-trials/sfr0.txt
Week 1/SFR-trials/sfr3.txt
Week 1/SFR-trials/sfrConstant.txt
Week 1/SFR-trials/sfrSingleburst.txt
Week 1/SFR-trials/sfrSSP.txt
